package library;

public class status-check {

    
    public static void main(String[] args) {
    
      int status;
      
      System.out.println("Please enter the status value");
      Scanner scanner = new Scanner(System.in);
      status = scanner.nextInt();
      
      switch(status) {
      
          case 0:
    System.out.println("The book is free");
    break;
  case 1:
  
    System.out.println("The book is reserved");
    break;
  case 2:
  
    System.out.println("The book is borrowed");
    break;
    
  default:
      System.out.println("No books found");
      }
      
      
    }
    
}

       
